/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

html {
	padding: 0;
	background: #F6CECE;
	color: #0B6138;
}

a {
	font-weight: bold;
}

body {
	margin: 0;
}

header {
	min-height: 400px;
	background-image: url(../img/official_header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: bottom;
	color: #EBDAE7;
}

.main-nav a {
	color: black;
	font-weight: bold;
}

#social ul{
	list-style-type: none;
	padding: 0;
}

#social li {
	padding: 0;
	margin: 0;
}

#social {
	background: #F6CECE;
	color: #0B6138;
	position: absolute;
	top:50px;
	right: 0;
	width: 25px;
	transition: 2s width;
}
#social:hover {
	width: 250px;
}

nav ul li {
	display: inline;
}

#about p {
	color: #A75406;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
}

.weybec-people {
	list-style-type: none;
}

#watch a {
	color: #0080FF;
	font-family: arial;
}

#listen a {
	color: #0080FF;
	font-family: arial;
}

footer {
	min-height: 50px;
	background-image: url(../img/monkaa_title.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: black;
	font-weight: bold;
}
